<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.devmanagement.mapper.MaintainMapper">
    <insert id="addItem" parameterType="com.team.devmanagement.model.Maintain">
        INSERT INTO maintain(did,uid,price,mDate) VALUES (#{did},#{uid},#{price},#{mDate})
    </insert>
    <delete id="deleteItemById" parameterType="int">
        DELETE FROM maintain WHERE mid=#{mid}
    </delete>
    <update id="updateItem" parameterType="com.team.devmanagement.model.Maintain">
        UPDATE maintain SET did=#{did},uid=#{uid},price=#{price},mDate=#{mDate} where mid=#{mid}
    </update>
    <select id="getItemById" parameterType="int" resultType="com.team.devmanagement.model.Maintain">
        SELECT mid,maintain.did,maintain.uid,mDate,users.username as user,devices.duid
        FROM maintain,users,devices WHERE mid=#{mid} AND maintain.uid=users.uid AND maintain.did=devices.did
    </select>
    <select id="getItemsByUid" parameterType="int" resultType="com.team.devmanagement.model.Maintain">
        SELECT mid,maintain.did,maintain.uid,mDate,users.username as user,devices.duid
        FROM maintain,users,devices WHERE maintain.uid=#{uid} AND maintain.uid=users.uid AND maintain.did=devices.did
    </select>
    <select id="getAllItems" resultType="com.team.devmanagement.model.Maintain">
        SELECT mid,maintain.did,maintain.uid,mDate,users.username as user,devices.duid
        FROM maintain,users,devices WHERE maintain.uid=users.uid AND maintain.did=devices.did
    </select>

</mapper>

