<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.devmanagement.mapper.UserMapper">
    <insert id="addUser" parameterType="com.team.devmanagement.model.User">
        INSERT INTO users(username,password) VALUES (#{username},#{password})
    </insert>
    <delete id="deleteUserById" parameterType="int">
        DELETE FROM users WHERE uid=#{uid}
    </delete>
    <update id="updateUser" parameterType="com.team.devmanagement.model.User">
        UPDATE users SET admin=#{admin} where uid=#{uid}
    </update>
    <update id="updateUserPwd" >
        UPDATE users SET password=#{password} where username=#{username}
    </update>
    <select id="getUserById" parameterType="int" resultType="com.team.devmanagement.model.User">
        SELECT * FROM users WHERE uid=#{uid}
    </select>
    <select id="query" resultType="com.team.devmanagement.model.User">
        SELECT * FROM users WHERE username=#{username} AND password=#{password}
    </select>
    <select id="getAllUsers" resultType="com.team.devmanagement.model.User">
        SELECT * FROM users
    </select>

</mapper>

